.container {
    margin: 10px;
    padding: 10px;
    background: #f5f5f5;
}

.content {
    padding: 0 10px;
    overflow-wrap: break-word;
}

.childrenContainer {
    margin-left: 25px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 10px 0;
}

.buttonSection {
    display: flex;
    justify-content: space-between;
}

.textArea {
    width: 100%;
    min-height: 200px;
    resize: none;
}