.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px 0;
    margin: 10px;
    padding: 10px;
}

.inputError {
    margin: 5px;
    font-weight: bold;
    color: red;
}

.submit {
    padding: 5px 10px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    box-shadow: 0 0 3px 3px #f5f5f5;
    cursor: pointer;
    &:hover {
        color: white;
        background-color: black;
        box-shadow: 0 0 3px 3px black;
    }
}

.textArea {
    width: 100%
}